.input {
  line-height: 24px;
  font-weight: 400;
  margin-left: 12px;
  margin-top: 12px;
}

.select {
  max-width: 50px
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin-left: 12px;
}