@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
  max-width: 1000px;
  margin: 0 50px auto;
}

.ml-12 {
  margin-left: 12px
}

.mr-4 {
  margin-right: 4px;
}